@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

h1, h2, h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

article {
  padding: 0px 0;
  width: 600px;
  margin: auto;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

hr {
  border: 1px solid black;
  width: 600px;
  margin: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

a {
  color: #d62828;
  padding: 5px;
}

a:hover {
  color: #f77f00;
}

ul, ol {
  margin: auto;
  width: 500px;
  padding: 10px;
}

nav {
  text-align: center;
}

div {
  margin: auto;
  width: 600px;
}

footer div {
  text-align: center;
}